# gradle
/.gradle
/build
/gradle
/gradlew
/gradlew.bat

# ForgeGradle
/run

# eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

# intellij
/out
/.idea
/atlassian-ide-plugin.xml
/*.ipr
/*.iws
/*.iml
